[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.9.8"
pillow = "*"
pymysql = "*"
django-import-export = "*"
future = "*"
django-crispy-forms = "*"
django-formtools = "*"
"httplib2" = "*"
penv = "*"
django-simple-captcha = "==0.4.6"
django-pure-pagination = "*"

[dev-packages]

[requires]
python_version = "3.6"
