[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.9.8"
pillow = "*"
pymysql = "*"
django-import-export = "*"
future = "*"

[dev-packages]

[requires]
python_version = "3.6"
