[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.9.8"
pillow = "*"
pycurl = {path = "D:/\u4e0b\u8f7d\u6587\u4ef6/pycurl-7.43.1-cp36-cp36m-win_amd64.whl"}
"2c04572" = {path = "D:/\u4e0b\u8f7d\u6587\u4ef6/xadmin-master.zip"}

[dev-packages]

[requires]
python_version = "3.6"
